.header {
  position: absolute;
  padding: 16px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid var(--color-border);
}

.logoLink {
  display: flex;
  color: #000;
  font-weight: 900;
  font-variant-caps: unicase;
}

.logo {
  height: 30px;
  width: auto;
}

@media (max-width: 640px) {
  .header {
    padding: 16px;
  }
}
