.container {
  background-color: #fff;
  width: 800px;
  margin: 0 auto;
  padding: 24px 0px;
  border-radius: 8px;
}

@media (max-width: 920px) {
  .container {
    width: calc(100% - 80px);
  }
}

@media (max-width: 640px) {
  .container {
    width: calc(100% - 32px);
    padding: 0;
  }
}
