.recommendContainer {
  display: grid;
  gap: 1rem;
}

.cardContainer {
  border-radius: 0.5rem;
  background-color: white;
}

.recommendItems {
  display: grid;
  gap: 1rem;
}

.recommendItem {
  display: block;
}

.recommendLink {
  display: block;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  object-fit: cover;
}

.title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.titleContainer {
  display: block;
}

@media (min-width: 768px) {
  .recommendItems {
    grid-template-columns: repeat(3, 1fr);
  }
  .titleText {
    font-size: 1rem;
    transition: color 0.3s;
  }
}

@media (max-width: 767px) {
  .recommendItems {
    grid-template-columns: repeat(1, 1fr);
  }
  .recommendLink {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  .thumbnail {
    width: 40%; /* 適宜調整。スマホでは大きすぎないように */
    height: auto;
    flex-shrink: 0;
    border-radius: 0.5rem;
    object-fit: cover;
  }

  .titleContainer {
    flex: 1;
  }

  .titleText {
    font-size: 1rem;
    transition: color 0.3s;
  }
}
