.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 32px 0;
}

.bgimg {
  position: absolute;
  top: 0;
  right: 0;
  height: 600px;
  width: 100%;
  object-fit: cover;
  object-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}
