.button {
  display: block;
  padding: 8px 40px;
  border-radius: var(--border-radius);
  width: 300px;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  text-align: center;
  margin: auto;
}

.button:hover {
  opacity: 0.9;
}

@media (max-width: 640px) {
  .button {
    padding: 8px 24px;
    width: 100%;
  }
}
