.breadcrumb {
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}
.breadcrumbitem {
  display: flex;
  flex-wrap: wrap;
}
.breadcrumbitem:not(:last-child)::after {
  content: ">";
  margin: 0 10px;
}
.breadcrumblink {
  color: #331cbf;
}
