.title {
  font-size: 1.5rem;
  margin-bottom: 0px;
  text-align: left;
}

.description {
  font-size: 0.9rem;
  color: var(--color-text-sub);
  margin: 24px 0;
  text-align: left;
}

.meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  gap: 24px;
}

.date {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 1;
  gap: 24px;
  padding: 10px 0 20px;
}

.promotion {
  display: block;
  color: #616269;
  background-color: #f7f7fc;
  font-size: 0.9rem;
  border-radius: 5px;
  padding: 0 15px;
}

.categoryLink {
  display: flex;
}

.tagLink {
  display: inline-flex;
}

.thumbnail {
  width: 100%;
  height: auto;
}

.content *:first-child {
  margin-top: 0;
}

.content > h1 {
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid var(--color-border);
  margin: 2.8rem 0 1rem;
}

.content > h2 {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 1rem 0 1rem;
}

.content > h3 {
  font-size: 1.4rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > h5 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 2.8rem 0 1rem;
}

.content > p {
  margin: 1rem 0 0.5rem;
  line-height: 2;
}

.content > pre {
  overflow-x: auto;
}

.content pre > code {
  background-color: var(--color-bg-code);
  display: block;
  overflow-x: auto;
  padding: 16px;
}

.content div[data-filename]::before {
  display: inline-block;
  background-color: var(--color-bg-sub);
  content: attr(data-filename);
  margin: 1em 0 0;
  font-family: menlo, inconsolata, monospace;
  font-size: 0.8rem;
  padding: 4px 16px;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.content ul,
.content ol {
  margin: 0.5rem 0 0.5rem 2rem;
}

.content > ul,
.content > ol {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.content ul > li {
  list-style: disc;
}

.content ol > li {
  list-style: decimal;
}

.content li {
  margin: 0.5rem 0;
}

.content a {
  text-decoration: underline;
  color: var(--color-primary);
}

.content > figure > img {
  max-width: 100%;
  height: auto;
  margin: 2rem 0;
}

.content > strong {
  font-weight: bold;
}

.content > blockquote {
  border-left: 4px solid var(--color-border);
  padding-left: 1rem;
  font-style: italic;
  margin: 2rem 0;
}

.content > hr {
  margin: 4rem 0;
  height: 1px;
  background-color: var(--color-border);
  border: none;
}

.content > table {
  width: 100%;
  margin: 2rem 0;
}

.content > table th {
  background-color: #f8f9fd;
  text-align: left;
  padding: 1rem;
  border: 1px solid #dee2e6;
}

.content > table td {
  text-align: left;
  padding: 1rem;
}

.product_image {
  width: 100%;
  height: auto;
}

.product {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_image {
  max-width: 120px;
  height: auto;
  margin-right: 16px;
  border-radius: 4px;
}

.product_info {
  display: flex;
  flex-direction: column;
}

.product_name {
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 8px;
}

.product_links {
  display: flex;
  gap: 12px;
}

.product_links .link {
  padding: 8px 12px;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9em;
  font-weight: bold;
  width: -webkit-fill-available;
  text-align: center;
}

.amazon {
  background-color: #ffa724;
  transition: background-color 0.3s ease;
}
.amazon:hover {
  background-color: #ffc766;
}
.rakuten {
  background-color: #ff5f5f;
  transition: background-color 0.3s ease;
}
.rakuten:hover {
  background-color: #ff7a7a;
}
.yahoo {
  background-color: #39c0e0;
  transition: background-color 0.3s ease;
}
.yahoo:hover {
  background-color: #5bcfee;
}

@media (max-width: 640px) {
  .title {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .description {
    font-size: 0.9rem;
    color: var(--color-text-sub);
    margin: 24px 0 40px;
  }

  .meta {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 5px;
  }

  .thumbnail {
    height: auto;
    margin: -20px -16px 0px -16px;
    width: calc(100% + 32px);
  }

  .content {
    width: 100%;
  }

  .content > h1 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid var(--color-border);
    margin: 2.8rem 0 1rem;
  }

  .content > h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 1rem 0 1rem;
  }

  .content > h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  .content > h4 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  .content > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 2.8rem 0 1rem;
  }

  .product {
    flex-direction: column; /* 全体を縦並びに */
    align-items: flex-start;
    gap: 20px;
  }

  .product_image {
    margin: 0 auto;
  }

  .product_links {
    flex-direction: column; /* リンクを縦並びに */
    width: 100%; /* ボタンを横幅いっぱいにする */
    gap: 8px; /* ボタン間の余白を少し狭く */
  }

  .link {
    width: 100%; /* ボタンを横幅いっぱいに */
  }
}

.recommendh2 {
  background-color: #eee;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  margin: 40px 0 20px;
  padding: 6px 10px;
}
